* {
    box-sizing: border-box;
}


@keyframes example2 {
    0%   {background-image: linear-gradient(#000000, #680000);}
    50%   {background-image: linear-gradient(#000000, #390000);}
    100%  {background-image: linear-gradient(#000000, #180000);}

}


body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    animation-name: example2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    height: 100vh;
}

#topdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    font-size: 62px;
    color: #ffffff;
    font-weight: bolder;
    height: 20vh;
    font-family: fantasy;
}

#middlediv{
    background-color: rgba(85, 57, 57, 0);
    display: flex;
    flex-flow: column;
    color: #ffffff;
    padding: 70px 30px;
    height: 60vh;
    margin-bottom: 0;

}

.inputs{
    margin: 15px 0;
    height: 100px;
    border: 0;
    border-bottom: 2px solid #0e0e0e;
    font-size: 64px;
    padding-left: 30px;
    color: #ffffff;
    background-color: rgba(95, 72, 22, 0);
}

@keyframes example3 {
    0%   {border-color: rgba(255, 0, 0, 0.44);}
    12.5%  {border-color: rgba(255, 0, 0, 0.31);}
    25%  {border-color: rgba(255, 0, 0, 0.11);}
    37.5%  {border-color: rgba(255, 0, 0, 0.05);}
    50%  {border-color: rgba(255, 0, 0, 0.05);}
    65.5%  {border-color: rgba(255, 0, 0, 0.11);}
    78%  {border-color: rgba(255, 0, 0, 0.31);}
    100% {border-color: rgba(255, 0, 0, 0.44);}
}

input:focus{
    outline: 0;
    box-shadow: 0px 7px 8px -10px rgba(255, 0, 0, 0.87);
    animation-name: example3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#eye {
    cursor: pointer;
    color: red;
    background-color: rgba(22, 27, 53, 0);
    margin: 0 80px;
    padding-left: 10px;
    margin-top: -90px;
    margin-left: auto;

}

#togglePassword{
    color: #9c9c9c;
    padding-right: 10px;
    font-size: 44px;
}

@keyframes example {
    0%   {border-color: rgb(255, 68, 0);}
    12.5%  {border-color: rgb(244, 255, 0);}
    25%  {border-color: rgb(14, 255, 0);}
    37.5%  {border-color: rgb(0, 255, 168);}
    50%  {border-color: rgb(0, 143, 255);}
    65.5%  {border-color: rgb(39, 0, 255);}
    78%  {border-color: rgb(255, 0, 219);}
    100% {border-color: rgb(255, 0, 0);}
}

#buttonHTML{
    border: 2px solid rgba(255, 0, 0, 0.44);
    width: 50%;
    border-radius: 20px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    animation-name: example;
    animation-duration: 60s;
    animation-iteration-count: infinite;


}
#buttonHTML:focus{
    border-color: #0040ff;
}


#buttonHTML:hover{
    border-color: rgba(255, 0, 0, 0.87);
}

a{
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    color: white;
    font-size: 42px;
}

#bottomdiv{
    background-color: rgba(26, 43, 64, 0);
    padding: 50px;
    text-align: center;
    height: 20vh;
    margin-top: 0;
    color: #000000;
}

#generatedPassword{
    background-color: rgba(0, 64, 255, 0);
    color: #ffffff;
    text-align: center;
    margin-top: 100px;
}








@media only screen and (min-width: 1300px){


    #topdiv{
        background-color: rgba(127, 255, 212, 0);
        color: #ffffff;
        font-size: 42px;
    }
    #middlediv{
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        padding: 60px 30px 30px 30px;
        box-shadow: #ffffff 4px 6px 20px;
        background-color: black;
    }
    .inputs{
        font-size: 18px;
    }

    #eye {
        background-color: rgba(24, 34, 81, 0);
        margin: 0 20px;
        padding-left: 10px;
        margin-top: -50px;
        margin-left: auto;
    }

    #togglePassword{
        color: #9c9c9c;
        padding-right: 10px;
        font-size: 20px;
    }

    a{
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        color: white;
        font-size: 18px;
    }

    #bottomdiv{
        background-color: rgba(0, 0, 0, 0);
        color: #000000;
        height: 10px;
    }

}