body{
    margin: 0;
    height: 100vh;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    margin-right: 4px;
    opacity: 0.6;
    filter: invert(1);

}

input[type="date"]::-webkit-datetime-edit-fields-wrapper
{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}


#topdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    font-size: 62px;
    color: #ffffff;
    height: 10vh;
    font-family: fantasy;

}

#middlediv{
    background-color: rgba(32, 55, 31, 0);
    display: flex;
    flex-flow: column;
    color: #ffffff;
    padding: 1vh 1vh;
    height: 80vh;
    margin-bottom: 0;

}

.inputs{
    margin: 15px 0;
    height: 20vh;
    border: 0;
    border-bottom: 2px solid #0e0e0e;
    font-size: 64px;
    padding-left: 1vh;
    color: #ffffff;
    background-color: rgba(150, 117, 46, 0);
}
input:focus{
    outline: 0;
    box-shadow: 0px 7px 8px -10px rgba(255, 0, 0, 0.87);

}

#eye {
    cursor: pointer;
    color: red;
    background-color: rgb(55, 72, 158);
    margin: 0;
    margin-left: auto;
    width: 10%;
    text-align: center;
    margin-top: -80px;
    margin-bottom:2vh;
}

#togglePassword{
    color: #9c9c9c;
    padding-right: 0;
    font-size: 44px;

}

#buttonHTML{
    border: 2px solid rgba(255, 0, 0, 0.44);
    width: 50%;
    border-radius: 20px;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    animation-name: example;
    animation-duration: 60s;
    animation-iteration-count: infinite;

}
#buttonHTML:focus{
    border-color: #0040ff;
}
#buttonHTML:hover{
    border-color: rgba(255, 0, 0, 0.87);
}

a{
    margin-right: auto;
    margin-left: auto;
    margin-top: 2vh;
    color: white;
    font-size: 48px;
}

#bottomdiv{
    background-color: rgba(42, 75, 115, 0);
    padding: 50px;
    text-align: center;
    height: 10vh;
    margin-top: 0;
    color: #000000;
}
@media only screen and (min-width: 1000px) {

    #topdiv{
        background-color: rgba(127, 255, 212, 0);
        color: #ffffff;
        padding: 50px;
        font-weight: bolder;
        font-size: 38px;
        height: 20vh;

    }
    #middlediv{
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        padding: 60px 30px 30px 30px;
        box-shadow: #ffffff 4px 6px 20px;
        background-color: black;
        height:70vh ;
    }

    .inputs{
        font-size: 18px;
        background-color: #0040ff;
        margin: 0 0 1vh 0;

    }
    #eye {
        background-color: rgba(24, 34, 81, 0);
        padding-left: 10px;
        margin-top: -40px;
        margin-left: auto;
    }
    #togglePassword{
        color: #9c9c9c;
        padding-right: 10px;
        font-size: 20px;
    }

    a{
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        color: white;
        font-size: 18px;
    }
    #bottomdiv{
        background-color: rgba(127, 255, 212, 0);
        color: black;
        height: 10vh;
    }



}

@media only screen and (min-width: 1500px){

    #topdiv{
        background-color: rgba(127, 255, 212, 0);
        color: #ffffff;
        padding: 50px;
        font-weight: bolder;
        font-size: 32px;

    }
    #middlediv{
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        padding: 60px 30px 30px 30px;
        box-shadow: #ffffff 4px 6px 20px;
        background-color: black;
        height:70vh ;
    }
    .inputs{
        font-size: 18px;
    }

    #bottomdiv{
        background-color: rgba(127, 255, 212, 0);
        color: black;
    }

}